{% extends 'base.html' %}

{% block title%}
Create Blogs - My Project
{% endblock %}

{% block body_content%}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Blogs | Create </h1>
        <span>
            <a href="/blogs" class="btn btn-primary">
                <span class="text">View Blogs</span>
            </a>
        </span>
    </div>
    <div>
        <form action="/blogs/create" method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">Title</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter title" name="title">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Slug</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter slug" name="slug">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Content</label>
              <textarea type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Content" name="content">
                </textarea>
            </div>
            <div>
              <select class="form-select form-control" aria-label="Default select example" name="status">
                <option selected>Select Status</option>
                <option value="0">Active</option>
                <option value="1">InActive</option>
              </select>
            </div>
            <div>
              <select class="form-select form-control" aria-label="Default select example" name="user">
                <option selected>Select User</option>
                {% for user in users %}
                <option value="{{user.0}}">{{user.1}} {{user.2}}</option>
                {% endfor %}
              </select>
            </div>
            
            <br/>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>
{% endblock %}

{% block js_block%}
<script src="https://cdn.tiny.cloud/1/c5vbgy7k4cfrhy4815qesauz1v9kpen45i75iyf9x0njlmid/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
    });
  </script>
{% endblock %}